<div class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5">
                <div class="form">
                    <form>
                        <h2>تعين كلمة المرور</h2>
                        <p>سوف نرسل رساله تحتوي على 6 ارقام على رقمك</p>
                        <input type="text" placeholder="التليفون" class="input">
                        <button class="login-btn" routerLink="/confirm">ارسال</button>
                        <button class="have-acc" routerLink="/" >لديك حساب بالفعل؟</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-7 d-none d-lg-flex">
                <div class="img">
                    <img src="../../assets/img/login.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>