@media (max-width: 1400px) {
    .login {
        .img { 
            img {
                width: 90%;
            }
        }
        .col-lg-5 {
            .form{
                width: 70%;
            }
        } 
    }
}

@media (max-width: 1200px) {
    .login {
        .col-lg-5 {
            .form{
                width: 80%;
            }
        } 
    }
}

@media (max-width: 991px) {
    .login {
        .col-lg-5 {
            justify-content: center;
            .form {
                width: 60%;
            }
        } 
    }
    footer {
        .impotant-link, .download {   
            margin-top: 2rem;
        }
        .download {
            .download-btns {
                margin-top: 1rem;
                flex-direction: row;
                a {
                    margin: 1rem;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .login {
        .col-lg-5 {
            justify-content: center;
            .form {
                width: 60%;
                form {
                    h2 {
                        margin-bottom: 3.5rem;
                        font-size: 1.8rem;
                    }
                    .input {
                        margin-bottom: 1.5rem;
                        height: 45px;
                        &::placeholder {
                            font-size: .8rem;
                        }
                    }
                    button {
                        height: 40px;
                        margin-top: 2rem;
                    }
                } 
            }
        } 
    }
    .dashboard {
        h1 {
            font-size: 2rem;
        }
        .top {
            .col-md-6 {
                h3 {
                    margin-bottom: 2rem;
                }
                .top_left {
                    align-items: center;
                }
            }
            &::after { display: none; }
        }
        .money, .point, .group {
            .icon {
                width: 5rem;
                height: 5rem;
            }
        }
    }
    
}

@media (max-width: 676px) {
    .login {
        .col-lg-5 {
            justify-content: center;
            .form {
                width: 90%;

            }
        } 
    }
}