<div class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5">
                <div class="form">
                    <form>
                        <h2>تعين كلمة المرور</h2>
                        
                        <div class="send-again">
                          <p>برجاء كتابة الكود المكون من 6 ارقام</p>
                            <button type="button" class="forget-btn" data-toggle="modal" data-target="#basicExampleModal">
                                إعادة الارسال
                            </button>
                        </div>
                        <input type="text" placeholder="التليفون" class="input">
                        <button class="login-btn" routerLink="/new-password">متابعة</button>
                        <button class="have-acc" routerLink="/" >لديك حساب بالفعل؟</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-7 d-none d-lg-flex">
                <div class="img">
                  <img src="../../../assets/img/Login.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p>
          تم اعادة ارسال رمز التأكيد
        </p>
        
      </div>
    </div>
  </div>
</div>