<div class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5">
                <div class="form">
                    <form>
                        <h2>تسجيل الدخول</h2>
                        <input type="text" placeholder="التليفون" class="input">
                        <input type="text" placeholder="كلمة المرور"  class="input">
                        <div class="forg_me">
                            <div class="keep_me">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                    <label class="custom-control-label" for="customControlAutosizing">تذكرني</label>
                                </div>
                            </div>
                            <div class="forget-pass">
                                <button class="forget-btn" routerLink="forget-password" >نسيت كلمة المرور؟</button>
                            </div>
                        </div>
                        <button class="login-btn" routerLink="dashboard">دخول</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-7 d-none d-lg-flex">
                <div class="img">
                    <img src="../../assets/img/login.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>