<nav class="nav justify-content-between fixed-top">
    <img src="../../assets/img/Logo.svg" alt="Logo">
    <a class="nav-link active" routerLink="/">
        <i class="fas fa-sign-out-alt"></i>
        <span>تسجيل الخروج </span>
    </a>
</nav>


<div class="dashboard"> 
    <div class="container">
        <h1>مرحبا بك فى شركاء بابل مارتس</h1>
        <div class="top">
            <div class="row">
                <div class="col-md-6">
                    <h3>مرحبا احمد سمير</h3>
                </div>
                <div class="col-md-6">
                    <div class="top_left">
                        <p>كود الدعوة : 
                            <span>20oiuh5</span>
                        </p>
                        <p>تاريخ الدفعة القادمة : 
                            <span>05/05/2020</span>
                        </p>
                        <p>اخر مشترك : 
                            <span>05/05/2020 - 15:14</span>
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="money text-center">
                    <div class="icon">
                        <img src="../../assets/img/money.svg" alt="">
                    </div>
                    <div class="head_num">
                        <h4>الرصيد المالي</h4>
                        <span class="num">560$</span>
                    </div>
                    <span class="line"></span>
                    <div class="status">
                        <p>^ .5%</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="point text-center">
                    <div class="icon">
                        <img src="../../assets/img/point.svg" alt="">
                    </div>
                    <div class="head_num">
                        <h4>رصيد النقاط</h4>
                        <span class="num">560M</span>
                    </div>
                    <span class="line"></span>
                    <div class="status">
                        <p>^ .5%</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="group text-center">
                    <div class="icon">
                        <img src="../../assets/img/group.svg" alt="">
                    </div>
                    <div class="head_num">
                        <h4>عدد المشتركين</h4>
                        <span class="num">560$</span>
                    </div>
                    <span class="line"></span>
                    <div class="status">
                        <p>^ .5%</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact">
            <h4>للشكاوى والمقترحات</h4>
            <form>
                <textarea rows="5"></textarea>
                <button type="submit">ارسال</button>
            </form>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center img">
                <img src="../../assets/img/Logo-footer.svg">
            </div>
            <div class="col-lg-5"> 
                <div class="impotant-link">
                    <h3>روابط مهمة</h3>
                    <ul class="list-unstyled">   
                        <div class="row">
                            <div class="col-3">
                                <li>
                                    <a href="">شرح التطبيق</a>
                                </li>
                                <li>
                                    <a href="">الرئيسية</a>
                                </li>
                                <li>
                                    <a href="">شرح التطبيق</a>
                                </li>
                                <li>
                                    <a href="">شرح التطبيق</a>
                                </li>
                            </div>
                            <div class="col-3">
                                <li>
                                    <a href="">اتصل بنا</a>
                                </li>
                                <li>
                                    <a href="">عن بابل</a>
                                </li>
                                <li>
                                    <a href="">اتصل بنا</a>
                                </li>
                                <li>
                                    <a href="">عن بابل</a>
                                </li>
                            </div>
                            <div class="col-3">
                                <li>
                                    <a href="">شرح التطبيق</a>
                                </li>
                                <li>
                                    <a href="">الرئيسية</a>
                                </li>
                                <li>
                                    <a href="">شرح التطبيق</a>
                                </li>
                                <li>
                                    <a href="">شرح التطبيق</a>
                                </li>
                            </div>
                            <div class="col-3">
                                <li>
                                    <a href="">اتصل بنا</a>
                                </li>
                                <li>
                                    <a href="">عن بابل</a>
                                </li>
                                <li>
                                    <a href="">اتصل بنا</a>
                                </li>
                                <li>
                                    <a href="">عن بابل</a>
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="download">
                    <h3>تحميل</h3>
                    <div class="download-btns">
                        <a class="android" href="https://play.google.com/store/apps/details?id=com.kndsoft.babelmarts" target="_blank">
                            <span>Google PLay</span>
                            <i class="fab fa-android"></i>
                        </a>
                        <a class="apple">
                            <span>App Store</span>
                            <i class="fab fa-apple"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-center">
        <p>جميع الحقوق محفوظة بابل مارتس © <span>2020</span></p>
    </div>
</footer>