<div class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5">
                <div class="form">
                    <form>
                        <h2>تسجيل الدخول</h2>
                        <input type="text" placeholder="كلمة المرور الجديدة" class="input">
                        <input type="text" placeholder="تأكيد كلمة المرور"  class="input">
                        <button class="login-btn" routerLink="/">متابعة</button>
                        <button class="have-acc" routerLink="/" >لديك حساب بالفعل؟</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-7 d-none d-lg-flex">
                <div class="img">
                    <img src="../../../assets/img/Login.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>